@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";

// Fonts
// -----------------------------------
/*
.montserrat{ // Sukhumsvit
	font-family: 'Montserrat', sans-serif;
}
*/
// Färger
// -----------------------------------
$blue : #004ba1;

// Knappar
// -----------------------------------
.btn-primary{
	padding: 26px 79px;
	font-family: 'Roboto', sans-serif;
	background-color: $blue;
	color: white;
	border: 3px solid $blue;
	line-height: 75px;
	font-size: 20px;
    text-transform: none;
    font-weight: 400;
	border-radius: 30px;
	&:hover, &:focus, &:active{
		border: 3px solid darken($blue, 10);
		background-color: darken($blue, 10);
		color: white;
		text-decoration: none;
	}
}
.btn-primary:active:hover{
	background-color: black;
	color: white;
	border: 3px solid black;
}
.btn-service{
	padding: 10px 65px; 
	font-size: 16px;
}
.btn-primary.btn-big{ border-radius: 40px; }
.btn-white{
	background-color: white;
	color: black;
	height: 55px;
	padding: 16px 40px;
	border-radius: 0px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	&:hover, &:focus, &:active{
		background-color: $blue;
		color: white;
		text-decoration: none;
	}
}
.btn-white-tel{
	border: 3px solid white;
	padding: 5px 30px;
}
.btn-move{
	display: inline;
	line-height: 1.4;
	padding: 16px 30px;
	margin-bottom: 15px;
}

// Länkar
// -----------------------------------
.navbar-default .navbar-nav>li>a{ color: white; }
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: white;
	background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover{ background-color: transparent; }
.link-white{
	color: white;
	&:hover, &:active, &:focus{ color: white; }
}
.current-menu-item{
	background-color: darken($blue, 10);
}

// Upprepande klasser
// -----------------------------------
.img-responsive{ display: inline; }
.center-outer{
	display: table;
	height: 265px;
}
.center-inner{
	display: table-cell;
	vertical-align: middle;
}
.placeholder{
	.wpcf7 .watermark {
		color: black;
	}
	::-webkit-input-placeholder {
		color: black;
	}
	:-moz-placeholder {
		color: black;
	}
	::-moz-placeholder {
		color: black;
	}
	:-ms-input-placeholder{
		color: black;
	}
}
.infobox{
	padding: 48px 25px;

	color: white;
	background: rgba(0, 0, 0, 0.5); 
	.infobox-header{
		font-family: 'Roboto', sans-serif;
		line-height: 42px;
		font-size: 29px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.infobox-sub-header{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
	}
	hr{
		border-top: 1px solid white;
		padding-bottom: 25px;
	}
}
.infobox-small{ padding: 20px 25px; }
.no-scroll{
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	width: 100%;

	// Göm allt utom hamburgarmeny
	.banner .container{
		>a{
			display: none;
		}
	}

	//Positionera hamburgarmeny upp till höger
	#menu-btn{
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
.hr-insta{
	border-top: 1px solid #ccc;
}
.fancy {
	line-height: 0.5;
	line-height: 27px;
	text-align: center;
	margin-bottom: 45px;
	overflow: hidden;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-top: 1px solid #ccc;
	top: 12px;
	width: 367px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

// Header
// -----------------------------------
.navbar-absolute-top {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 999999;
	padding-top: 40px;
}
#menu-btn{
	margin-left: 20px;
	margin-top: 9px;
	border: 1px solid #374C77;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	// display: inline;
	height: 37px;
	padding: 3px 4px 3px;
	position: relative;
	width: 40px;
	background: #4569b2;
	background: -moz-linear-gradient(top,  #4569b2 0%, #4062a5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4569b2), color-stop(100%,#4062a5));
	background: -webkit-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
	background: -o-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
	background: -ms-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
	background: linear-gradient(to bottom,  #4569b2 0%,#4062a5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}
#menu-btn div{
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 2px 2px 2px 2px;
	height: 3px;
	margin-top: 5px;
	width: 100%;
}
.navbar{
	background-color: $blue;
	border: 0;
	border-radius: 0;
	margin-top: 20px;
	padding-left: 15px;
	border-radius: 30px;
}
.banner{
	background-color: white;
	padding-top: 20px;
}
.navbar-default{ z-index: 100; }

// Navigering
// -----------------------------------
.menu-start{
	position: absolute;
	z-index: 5;
	color: black;
	top: 350px;
	margin-left: 40px;
	background-color: $blue;
	padding: 75px 20px;
	display: none;
}
.menu-main{
	position: absolute;
	z-index: 12;
	color: white;
	top: 350px;
	margin-left: 40px;
	padding: 75px 20px;
	display: none;
}
.page-template-default{
	.menu-start, .menu-main{
		top: 120px;
	}
}
.menu-fixed, .page-template-default .menu-fixed{
	position: fixed;
	top: 20px;
}
.nav > li.current-menu-item{
	font-weight: bold;
}
.nav{
	list-style: disc outside none;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
	color: white;
}
// Hamburgar meny
// ---------------
.responsive-menu{
	display: none;
}
.expand {
	display: block !important;
	text-align: center;
	padding-top: 100px;
}
.responsive-menu.expand{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	z-index: 99999;
}
.mobile-nav{ display: none; }
.responsive-menu .nav > li > a{
	font-size: 22px;
}

// Startsida
// -----------------------------------
.start{
    height: 515px;
	padding-top: 80px;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	z-index: 10;
	position: relative;
	top: -45px;
}
/*.linkbox-wrapper{
	margin-top: 80px;
}*/
.linkbox{
	margin-bottom: 80px;
}
.linkbox-btn-wrapper{
	margin-top: -38px;
}
.row-top{
	margin-top: 80px;
}
.p-left{ padding-left: 0px; }
.p-right{ padding-right: 0px; }

// Standardmall
// -----------------------------------
.page-banner{
	height: 515px;
	overflow: hidden;
	z-index: 10;
	position: relative;
    top: -45px;
    padding-top: 80px;
    background-size: cover;
}
.page-content{
	padding-top: 35px;
}
.page-content-bottom{
	padding-bottom: 80px;
}
.page-content, .page-content-bottom{
	a
	{
		color: $blue;
		&:hover, &:active, &:focus 
		{
			color: darken($blue, 10);
		}
	}
}
.gray-frame{
	border: 1px solid #ccc;
	background-color: white;
	margin-bottom: 20px;
	padding: 15px;
	min-height: 271px;
}

// Footer
// -----------------------------------
.find-us{
	margin-bottom: 12px; 
	font-family: 'Roboto',sans-serif; 
	letter-spacing: 0; 
	font-size: 24px;
	font-weight: 600;
}
.image-wrapper{
	position: relative;
}
.white-frame-box{
	position: absolute;
	padding-top: 50px;
	padding-bottom: 25px;
	top: 75%;
	width: 90%;
	margin: 0 auto;
	left: 0;
	border: 3px solid white;
	right: 0;
	min-height: 150px;
}
.white-frame-box-2{
	background-color: white;
	color: black;
	position: absolute;
    padding-top: 20px;
    padding-bottom: 17px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
	padding-left: 15px;
	padding-right: 15px;
    a{
    	color: black;
    	&:hover,&:active, &:focus{
    		color: black;
    	}
    }
}
.start-contact-wrapper{
	padding: 80px 0px 80px;
	background-size: cover;
	background-position: center center;
}
.white-box-name{
	font-size: 14px;
	letter-spacing: 1px;
}
.white-box-tel{
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	margin-bottom: 0px;
}
.header-footer{
	font-family: 'Roboto', sans-serif;
}
.contact-bottom span{
	padding: 0px 30px;
}
.contact-bottom{
	margin-top: 40px;
}
.acf-map {
	width: 100%;
	height: 370px;
}

// Standardklasser
// -----------------------------------
h1,h2,h3, body, header{ font-family: 'Lato', sans-serif; }
h2.h2-big{ font-size: 30px; }
h1.white,h2.white,h3.white,h4.white,h5.white{ color: white; }
.white{ color: white; }
h1.light,h2.light,h3.light,h4.light,h5.light, p.light{ font-weight: 100; }
h1{ 
	font-size: 58px;
	margin-bottom: 46px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}
h2{
	font-family: "museo-sans",sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h3{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 100;
}
.ingress, .ingress p{
	font-family: "museo-sans",sans-serif;
	font-size: 17px;
	line-height: 28px;
}
p, .p-il p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 25px;
}
a{
	color: #bbb;
	&:hover, &:focus{
		color: #aaa;
	}
}

body{
	color: black;
}
.main{ 
	float: none; 
	padding: 0; 
}
.mtop{ margin-top: 0px; }
.mbot{ margin-bottom: 0px; }
.video-ratio-16-9{
	padding-top: 56.25% !important;
	.embed-container{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		.iframeMovie{
			width: 100%;
			height: 100%;
		}
	}
}

// Mobil
// ----------------------------------------------------------------------------------------------------
@media(max-width: $screen-xs-max){

	// Header
	// -----------------------------------
	.navbar-absolute-top{
		padding-top: 50px;
	}
	.start {
		height: 1000px;
		padding-top: 100px;
	}
	.infobox {
		margin-top: 70px;
		padding: 37px 25px;
	}
	.brand img{ max-width: 145px; }
	#menu-btn{ margin-top: 0px; }
	.mobile-brand{
		padding-top: 10px;
		padding-left: 15px;
		padding-bottom: 10px;
		float: left;
	}
	.navbar{
		background-color: white;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.navbar-nav{ background-color: #00336e; margin-bottom: 0px !important; }
	.navbar-toggle{ margin-top: 14px; }

	// Navigering
	// -----------------------------------
	.menu-main, .menu-fixed, .menu-start{ 
		display: none; 
	}

	// Startsida
	// -----------------------------------
	.page-banner, .start{ 
		overflow: hidden;
		background-size: cover;
		height: auto;
	}
	.page-banner{ padding-top: 110px; }
	.linkbox{ text-align: center; }
	.navbar-fix-top{
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
		top: 0;
		border-width: 0 0 1px;
		margin-top: 0;
		border-radius: 0;
	}
	.p-left{ padding-left: 15px; }
	.p-right{ padding-right: 15px; }
	.image-wrapper{ margin-bottom: 40px; }
	.row-top{ margin-top: 35px; }

	// Standardmall
	// -----------------------------------
	.infobox {
		margin-top: 0px;
		padding: 30px 20px;
		padding-bottom: 40px;
	}

	// Standardklasser
	// -----------------------------------
	h1{ 
		font-size: 42px;
		margin-top: 45px;
		margin-bottom: 15px;
	}

	// Footer
	// -----------------------------------
	.image-wrapper {
		position: relative;
		width: 181px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.content-info{ 
		text-align: center; 
		.center-outer{
			height: 110px;
		}
	}
	.contact-bottom span { padding: 0px 5px; }
}

//Läsplatta
// ----------------------------------------------------------------------------------------------------
@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
	#menu-item-129{ display: none; }

	// Startsida
	// -----------------------------------
	.btn-service{
		padding: 10px 42px; 
	}
	.btn-move{
		display: block;
		padding: 16px 5px;
	}
	.row-top{
		margin-top: 80px
	}
	.navbar{
		padding-left: 10px;
	}
	.start h1{ font-size: 36px; }

	// Header
	// -----------------------------------
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		font-size: 13px;
	}
}

// Läsplatta & Dator
// ----------------------------------------------------------------------------------------------------
@media(min-width: $screen-sm-min){

}

// Dator
// ----------------------------------------------------------------------------------------------------
@media(min-width: $screen-md-min){

}

// Mindre än litet datorläge
// ----------------------------------------------------------------------------------------------------
@media(max-width: 1500px){
	.mobile-nav{
		display: inline;
	}
}

// Större än litet datorläge
// ----------------------------------------------------------------------------------------------------
@media(min-width: 1501px){
	.menu-main, .menu-start{
		display: block;
	}
}
